result.jpg
image1.jpg
*.pyc
*.swp
public/*.jpg
.DS_Store
.pio/*
itsybitsy/.pio/*
detector/.pio/*
epaper7color/.pio/*
trinketm0_on_when_light/.pio/*
temp-display-feather/src/main.cpp
temp-display-feather/.pio/*
conf.yml
