[Unit]
Description=pi camera
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/pi-alert/
ExecStart=/home/pi/pi-alert/stream-http.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
